@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#header-left>h1{
    color: #ffffff;
}
header>div>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header>div>ul>li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
header>div>ul>li>a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 15px;
    transition: 0.4s;
}
header>div>ul>li>a:hover{
    background-color: #333;
    
}
#header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 10px;
}
#header-right>button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
#header-right>button:hover{
    background-color: #dedad8;
    transition: 0.4s;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    top: 10px;
}
nav>h2{
    margin-left: 40px;
    font-size: 1.5rem;
}
nav>h2:hover{
    background-color: #dcdcdc;
    border-radius: 50%;
    padding: 10px 3px;
    transition: 0.4s;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 30px;
}
nav>ul>li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: #6B6B6B;
    font-weight: 600;
}
nav>ul>li>a:hover{
    color: #000000;
    transition: 0.4s ease;
}
#hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    width: 100%;
    margin-top: 10px;
}
.hero-box{
    width: 40%;
}
#hero-section>div>p>span>a{
    text-decoration: none;
    color: #000000;
}
#hero-section>div>p>span>a:hover{
    background-color: #eeeeee;
    text-decoration: underline;
    transition: 0.4s;
}
#hero-section>div>h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 64px;
}
#hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#hero-section-left>p>span>i{
    margin-right: 8px;
    color: #000000;
}
/* #hero-section-left>div>div>span{
    position: absolute;
    top: 30px;
    left: 13px;
} */
#s1{
    position: absolute;
    top: 30px;
    left: 13px;
}
#s2{
    position: absolute;
    top: 110px;
    left: 13px;
}
#s3{
    position: absolute;
    top: 30px;
    left: 330px;
    
   
}
#hero-section-left>div>div>input{
    width: 350px;
    padding: 20px 30px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.hero-location{
position: relative;
top: 0px;
}
.mid-hero{
width: 0px;
height: 75px;
border: .5px solid black;
position: absolute;
top:45px;
left: 20px;

}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
#primary{
    background-color: #000000;
    color: #ffffff;
}
#primary:hover{
    background-color: #333333;
    transition: 0.4s;
}
#secondary{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
#secondary:hover{
    background-color: #f2f2f2;
    transition: 0.4s;
}
#hero-section-right>img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.suggestions{
    padding: 20px 50px;
    margin-top: 30px;
}
#sug-section{
    display: flex;
      flex-wrap: wrap; 
    gap: 50px; 
}

#sug-box{
    display: flex;
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 20px;
    width: 380px; 
    height: 200px;
}
#sug-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 70%; 
}
#sug-text h3 {
    margin: 0;
    font-size: 18px;
}

#sug-text p {
    margin: 8px 0;
    font-size: 14px;
    color: #555;
}

#sug-text button {
    width: fit-content;
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
#sug-box>img{
    width: 100px;
    height: 100px;
    align-self: center;
}

#plan-main{
    width: 90vw;
    margin: auto;
    
    
}
#plan-section{
    display: flex;
}
.left-plan{
    background-color: rgb(157, 205, 214);
    display: flex;
    border-radius: 10px;
    
    width:60vw;
}

.left-plan h4{
    font-size: 40px;
    padding: 20px;;
}
#time-date-plan{
display: flex;
gap: 20px;
}
#time-date-plan>div>input{
padding: 8px 20px;
}
footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.main-footer{
      width: 80vw;
      display: flex;
      flex-direction: column;
        margin: auto;
        gap: 40px;
}

#footer-logo{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

#footer-logo p{
      color: white;
      font-weight: 400;
      font-size: 30px;
}
#footer-logo a{
text-decoration: none;
color: white;
font-size: 20px;
}

#footer-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-nav-box{
    width:200px;
}
.footer-nav-box h4{
    color: white;
    margin-bottom:15px;
    font-weight: 600;}
#footer-nav a{
   text-decoration: none;
    color: white;
}
#footer-nav a:hover{
   color: #dcdcdc;
   transition: a .3s ease;
}
#footer-nav ul>li{
    list-style: none;
}
#footer-nav ul{
       display: flex;
       flex-direction: column;
       gap: 15px;
}

#footer-so{
    justify-content: space-between;
}
#footer-so ul{  
    display: flex;
    gap:20px;
}
#footer-so a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 5px 8px;
    border: 10px;

}
#footer-so a:hover{
   background-color: #333333;
}
#footer-app {
display: flex;
gap: 40px;
align-items: center;
}
#footer-app img{ width: 200px; }
#footer-priv{
display: flex; justify-content: space-between;
}
#footer-priv p{ 
    color:#6B6B6B;
 } 
#footer-priv ul{
display: flex;
gap: 20px;
}
#footer-priv a{ text-decoration: none; color: #6B6B6B;
}
#footer-priv a:hover{
color: white;
 transition: .3a ease;
}


@media screen and (max-width:1134px) {
#header-left>ul{
display: none;
}
#header-right>ul{
display: none;
}
nav>ul{
display: none;
}
#hero-section{
flex-direction: column;
margin-left: 80px;
}
#hero-section-right{
display: none;
}
#hero-section-hide{
display: block;
}
}